.main-page-inner {
    display: flex;
    height: 100%;
    width: 100%;
}
.chats-list {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 10px;
}
.chats-list-inner {
    display: flex;
    width: 25%;
    min-width: 250px;
    flex-direction: column;
    background: #202020;
    border: 1px solid #303030;
}
.chat-search-chats {
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.chat-search-chats input {
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    background: #303030;
    border-radius: 50px;
    color: white;
    margin: 0px 10px;
    padding: 2px 10px;
}
.chat-item {
    padding: 5px;
    color: white;
    min-height: 35px;
    margin: 2px 0px 0px 0px;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.chat-item:hover {
    background-color: #303030;
}
.chat-item-image {
    min-width: 50px;
    min-height: 50px;
    background: #303030;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-item-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat-item-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}
.chat-item-header-title {
    font-weight: 500;
    display: flex;
    gap: 5px;
}
.chat-item-last-message {
    text-wrap: nowrap;
}

.selected-chat-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
}

.selected-chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: #202020;
    cursor: pointer;
}
.selected-chat-header-info-inner {
    display: flex;
    gap: 10px;
}
.selected-chat-header-info-img {
    width: 50px;
    height: 50px;
    background: #303030;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-chat-header-info-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.selected-chat-header-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}
.selected-chat-header-info-name {
    font-weight: 500;
    display: flex;
    gap: 5px;
}
.selected-chat-header-info-members {
    font-size: .875rem;
    color: #aaa;
}
.selected-chat-input {
    padding: 10px;
    background: #202020;
    border-radius: 15px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}
.selected-chat-input:focus-visible {
    outline: none;
}
[contenteditable=true]:empty:before{
    content:attr(data-ph);
    color:grey;
    font-style:italic;
}

.selected-chat-messages {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px 70px;
    /* justify-content: flex-end; */
    gap: 5px;
    overflow-y: scroll;

}
.selected-chat-message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.selected-chat-message.me {
    justify-content: flex-end;
}
.selected-chat-input-inner {
    display: flex;
    margin: 10px 50px 20px;
    padding: 10px;
    gap: 10px;
}

.selected-chat-message-header {
    display: flex;
    flex-direction: column;
    background: #303030;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.selected-chat-message.me .selected-chat-message-header {
    background: #454545;
}
.selected-chat-message-body {
    max-width: 600px;
    word-wrap: break-word;
}
.selected-chat-message-header-title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.selected-chat-message-header-username {
    font-weight: 500;
}
.selected-chat-message-header-timestamp {
    font-size:.875rem;
    color: #aaa;
}
.selected-chat-input-sumbit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
    width: 32px;
    height: 32px;
}
.selected-chat-input-sumbit:hover {
    background: #303030;

}

.chats-list-create-chat {
    position: absolute;
    padding: 14px;
    background: rgb(118,106,200);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 10px;
    right: 10px;
    transition: all .5s;
    cursor: pointer;
}

.chats-list-create-chat:hover {
    background-color: rgb(146,136,211);
}




.chat-createion-header {
    display: flex;
    padding: 10px;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #404040;
}
.chat-createion-header-back {
    padding: 10px;
    cursor: pointer;
}
.chat-createion-header-title {
    font-size: 18px;
    font-weight: 500;
}
.chat-createion-header-type {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
    
}
.chat-createion-header-type-item {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer;
}
.chat-createion-header-type-item:hover {
    background-color: #404040;
}
.chat-createion-header-type-item-icon {
    padding: 9px;
    background: #252525;
    border-radius: 50%;
    display: flex;
}

.chat-createion-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.chat-createion-body-button-create {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: #303030;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: all .3s;
}
.chat-createion-body-button-create:hover {
    background-color: #404040;
}

.chat-createion-body-input-group-input input {
    width: 90%;
    border: none;
    outline: none;
    background: #303030;
    border-radius: 50px;
    color: white;
    padding: 8px 10px;
}
.chat-createion-body-input-group-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-createion-body-input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.chat-createion-body-input-group-title {
    margin-left: 5px;
}